

%packages 
@ English (UK) Support
#@ E-Mail Server
cups


# needed by hp stuff amongst other bits
glibc                              
libgcc                            
libstdc++                        
nss-softokn-freebl

-postfix
telnet

# needed by hp stuff amongst other bits
glib2
glibc.i686
glibc-devel
glibc-headers
libgcc
libstdc++
libXxf86misc
nss
nss-softokn
nss-softokn-freebl.i686
gcc
libnl-devel
# for bmon
rrdtool
iptraf
ltrace
gd
graphviz
libXaw
libXmu
libXpm
lm_sensors-libs
net-snmp-libs
libacl.i686
libstdc++.i686
libattr.i686
screen

# silly i know but it makes sure X11 will work via ssh
# as it fills in dependencies
# its also a simple test
xeyes
ntp
